<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
     va-application-insights-0.1.0-SNAPSHOT.jar   arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;d:\home\site\wwwroot\azure-java-application-insights-0.1.0-SNAPSHOT.jar&quot;">
    </httpPlatform>
  </system.webServer>
</configuration>
